/LAB201/WordCounting/target/
/LAB211/package_1/Short08/nbproject/private/
/LAB211/package_1/Short08/build/
/LAB211/package_1/Short10/nbproject/private/
/LAB211/package_1/Project_LAB211_SUM25/target/
/LAB211/Project_LAB211_SUM25/target/
/CSD201/CSD201_S_Queue/target/
